<%- include('partials/head') %>
<%- include('partials/navbar') %>

<div class="container mt-5 mb-5">
    <div class="card">
        <div class="card-header"><strong class="table-titles">Registro de Compras</strong><a href="/compra/cadastro" class="btn btn-outline-success float-right">Cadastrar</a></div>
        <div class="card-body">
            <table class="table">
                <thead>
                  <tr>
                    <th scope="col">Código</th>
                    <th scope="col">Data</th>
                    <th scope="col">Total Pago</th>
                    <!-- <th scope="col">Materiais</th> -->
                    <th scope="col">Editar</th> 
                    <th scope="col">Excluir</th>      
                  </tr>
                </thead>
                <tbody>
                    <% notas.forEach(nota=>{%>
                        <tr class="align-center">
                            <td><%- nota.numero_nota %></td>
                            <td><%- nota.data_nota %></td>
                            <td><%- nota.total %></td>
                            <td>
                                <a href="/compra/editar/<%- nota.cod_nota %>" class="btn btn-outline-info">EDITAR</a>
                            </td>
                            <td>
                                <form method="POST" action="/compra/excluir">
                                    <input type="hidden" name="cod_nota" value="<%- nota.cod_nota %>">
                                    <button type="submit" class="btn btn-outline-danger">EXCLUIR</button>
                                </form>
                            </td>
                        </tr>  
                    <%}) %>
                </tbody>
            </table>
        </div>
    </div>
</div>
<%- include('partials/footer') %>
