<%- include('partials/head') %>
<%- include('partials/navbar') %>

<% let erros = '' %>

<% dados.forEach(dado => { %>
<div class="container" style="margin-top: 5%;">
    <div class="row">
        <div class="col-sm">
            <p class="text-center display-4 mb-5">Cadastro de Vendas de Materiais</p>
            <span><%- erros %></span>
        </div>
    </div>
    <div class="row">
        <div class="card mb-3" style="width: 100rem; align-items: center;">
            <div class="card-body">
                <form action="/venda/editar" method="POST">
                    <div class="col-sm-12 form-group">
                        <input type="hidden" name="id_venda" id="codigo" class="form-control" value=<%- dado.id_venda %> >
                        <input type="hidden" name="cod_nota" id="cod_nota" class="form-control" value=<%- dado.cod_nota %> >
                    </div>
                    <div class="form-row mt-5">
                        <div class="form-group ml-3">
                            <label for="tipoMaterial">Tipo do Material</label>
                            <select class="form-control tamanhoCamposCadastroMateriais" name="tipo_material" id="tipoMaterial" value=<%- dado.tipo_material %>>
                                <% materiais.forEach(material => { %>
                                    <option value=<%- material.tipo %>><%- material.tipo %></option>
                                <% }) %>
                            </select>
                        </div>
                        <div class="form-group ml-3">
                            <label for="preco">Preço</label>
                            <input type="text" class="form-control tamanhoCamposCadastroMateriais" id="preco" onchange="calcTotal()" name="preco"  value=<%- dado.preco %>>
                        </div>
                        <div class="form-group ml-3">
                            <label for="medidaReferencia">Medida de referência</label>
                            <select class="form-control tamanhoCamposCadastroMateriais" name="medida_referencia"
                                id="medidaReferencia"  value=<%- dado.medida_referencia %>>
                                <option value="Kg">Kg</option>
                                <option value="Gr">Grama</option>
                                <option value="unidade">Unidade</option>
                            </select>
                        </div>          
                    </div>
                    <div class="form-row">
                        <div class="form-group ml-3">
                            <label for="inputPesoOuQuantidade">Peso</label>
                            <input type="text" class="form-control tamanhoCamposCadastroMateriais" id="inputPeso" name="peso" onchange="calcTotal()" value=<%- dado.peso %>>
                        </div>
                        <div class="form-group ml-3">
                            <label for="totalPagar">Total a pagar</label>
                            <input type="text" class="form-control tamanhoCamposCadastroMateriais disabled" name="total" id="totalPagar" onchange="calcTotal()" value=<%- dado.total %>>
                        </div>
                    </div>
                    <div class="text-center mt-5 mb-3">
                        <button type="submit" class=" btn btn-outline-primary-login btn-outline-primary">Enviar</button>
                        <a href="/vendas" class="btn btn-outline-secondary">Voltar</a>
                    </div>
                </form>
            </div>
        </div>
</div>
</div>

<%- include('partials/footer') %>

<script>
    function calcTotal(){
        let preco = document.getElementById('preco').value;
        let peso = document.getElementById('inputPeso').value;
        let total = document.getElementById('totalPagar');

        let calc = Number(preco) * Number(peso);

        total.value = calc;
    }
</script>
<% }) %>

