<%- include('partials/head') %>
<%- include('partials/navbar') %>
<div class="divCol1 mb-3">
    <div class="row">
        <div class="col-sm">
            <div class="card card1">
                <img src="imgs/gif_manager.gif" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title">Vantagens de utilizar um software de gestão</h5>
                    <p class="card-text text-justify">
                        1. Controle do fluxo de caixa da empresa;
                        <br>
                        2. Gestão financeira completa e organizada;
                        <br>
                        3. Controle de estoque confiável;
                        <br>
                        4. Redução de erros manuais e humanos;
                        <br>
                        5. Otimização de processos, aumentando a produtividade;
                        <br>
                        Aqui você tem acesso a essas vantagens e mais!
                    </p>
                </div>
            </div>
        </div>
        <div class="col ">
            <div class="row">
                <div class="card card2 col-12">
                    <div class="card-body">
                        <h5 class="card-title">Cadastrar Compras</h5>
                        <p class="card-text text-justify">
                            Aqui você pode cadastrar as compras que deseja fazer, de modo rápido e ágil. Com isso
                            você se poupa de todo aquela burocracia de preechimento de documentos, e o deslocamento
                            até o vendedor. Clique em "Ver mais" e comece agora.
                        </p>
                    </div>
                </div>
                <div class="col-12 text-right p-0">
                    <a type="button" href="cadastroCompraMateriais"
                        class="btn btn-outline-secondary botaoVerMais">
                        Ver Mais
                    </a>
                </div>
                <div class="card card3 col-12">
                    <div class="card-body">
                        <h5 class="card-title">Cadastrar Vendas</h5>
                        <p class="card-text text-justify">
                            Deseja cadastrar uma venda? Sem problemas, clique em "Ver mais" e faça esse procedimento
                            rapidamente. Aqui você impede que seus dados sejam perdidos em eventuais acidentes, como
                            por exemplo incêndios e alagamentos (a gente nunca acha que vai acontecer até
                            acontecer...).
                        </p>
                    </div>
                </div>
                <div class="col-12 text-right p-0">
                    <a type="button" href="cadastroVendaMateriais"
                        class="btn btn-outline-secondary botaoVerMais">
                        Ver Mais
                    </a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card card4">
                <ul class="list-group list-group-flush">
                    <div class="card-header">Lista de Materiais</div>
                    <% materiais.forEach(material => {%>
                        <li class="list-group-item"><%- material.nome_material %></li>
                    <% });%>
                </ul>
            </div>
            <a type="button" class="btn btn-outline-secondary" style="float: right; margin-top: 3%;">Ver
                Mais
            </a>
        </div>
    </div>
</div>
<!-- Modal login/cadastro-->
<%- include('partials/modalDeslogado') %>
<%- include('partials/footer') %>

